# Build artifacts
runners/go/runner-go
runners/rs/target/
runners/zig/zig-out/
runners/zig/.zig-cache/
server/server

# Test outputs
testcases/*/output_*.json
testcases/*/stats_*.json

# OS
.DS_Store
